body{
    font-family:i;
    margin:0;
    background:#f2f2f2;
}

header{
    background:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
button{
padding:8px 15px;
border:none;
background:orange;
color:white;
cursor:pointer;
border-radius:5px;
}

.logo{
    height:90px;
    width:auto;
    cursor:pointer;
}

nav{
    flex:1;
    text-align:center;
}

nav a{
    color:orange;
    text-decoration:none;
    margin:0 10px;
    font-size:20px;
}

.signout-btn{
    padding:8px 15px;
    border:none;
    background:orange;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

.top-section{
    text-align:center;
    padding:80px;
    background-image:url("./pic/backgroud.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.top-section h1{
    color:rgb(250, 147, 63);
    font-size:50px;
    margin-bottom:20px;
}

.search-box input{
    padding:10px;
    width:220px;
}

.search-box button{
    padding:10px 15px;
    background:orange;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

.main-section{
  
     display:flex;
     padding:30px;
}

.filter-box{
    width:200px;
    background:rgb(245, 245, 245);
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 5px rgb(233, 135, 43);
    height:fit-content;
}
.recipe-container{
    flex:1;
    margin-left:20px;
}

.filter-box h3{
    font-size:30px;
    margin-bottom:15px;
}

.filter-box button{
    width:100%;
    padding:12px;
    margin-bottom:12px;
    border:none;
    background:#f4b400;
    color:white;
    border-radius:6px;
    cursor:pointer;
    font-size:18px;
    display:block;
    text-align:center;
}

.recipe-container{
    text-align:center;
}

.card{
    background:white;
    width:220px;
    padding:10px;
    border-radius:10px;
    box-shadow:0 0 5px rgb(110, 76, 76);
    display:inline-block;
    margin:15px;
    text-align:center;
    vertical-align:top;
}

.card img{
    width:100%;
    height:140px;
    object-fit:cover;
    border-radius:5px;
}

.card h2{
    margin:10px 0;
}

.card p{
    font-size:15px;
}

.card button{
    padding:8px 15px;
    border:none;
    background:orange;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

.level{
    color:white;
    padding:5px 10px;
    border-radius:15px;
    display:inline-block;
    margin-bottom:10px;
}

.easy{
    background:green;
}

.medium{
    background:goldenrod;
}

.hard{
    background:rgb(207, 83, 83);
}

footer{
    text-align:center;
    padding:20px;
    background:#e9a43c;
    color:white;
    margin-top:40px;
}